<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    id="WebApp_ID" version="3.1">
    <display-name>lab7</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>AddFileEntry</servlet-name>
        <servlet-class>lab7.AddFileEntryServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddDirectoryEntry</servlet-name>
        <servlet-class>lab7.AddDirectoryEntryServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DeleteDirectoryEntry</servlet-name>
        <servlet-class>lab7.DeleteDirectoryEntryServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DeleteFileEntry</servlet-name>
        <servlet-class>lab7.DeleteFileEntryServlet</servlet-class>
    </servlet>




    <servlet-mapping>
        <servlet-name>AddFileEntry</servlet-name>
        <url-pattern>/addFileEntry</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddDirectoryEntry</servlet-name>
        <url-pattern>/addDirectoryEntry</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DeleteDirectoryEntry</servlet-name>
        <url-pattern>/deleteDirectoryEntry</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DeleteFileEntry</servlet-name>
        <url-pattern>/deleteFileEntry</url-pattern>
    </servlet-mapping>
</web-app>